@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #B96E6E;
  display: flex;
}

body {
  margin: 0px;
  background-color: #EAEAEA;
  font-family: 'Roboto';
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
}

.parte1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1364px;
  height: 620px;
  margin: 0px;
  padding-top: 50px;

}

.barra-navegacao {
  display: flex;
  justify-content: space-between;
}

.menu{
  display: flex;
  list-style: none;
  align-items: center;
  padding: 10px 700px;
}

.item {
  margin-right: 5em;
}

.item a {
color: #EAEAEA;
text-decoration: none;
}

.item a:hover{
  color:#7a4242;
  text-decoration: none;
  }

.item a:focus{
  color:#7a4242;
}

.usuario {
  position: absolute;
  width: 120px;
  height: 30px;
  right: 0px;
  top: 9px;
  background: url(assets/user.png);
  background-repeat: no-repeat;
  background-position: 60px;
  display: flex;
  align-items: center;
  color: aliceblue;
}

.pagina-inicial{
  text-align: center;
  padding: 5px 20px;
  display: inline-block;
  
}

.planta {
  width: 240px;
  box-sizing: border-box;
  height: 400px;
  margin: 20px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 18px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.planta img {
  width: 120px;
  height: 120px;
  padding: 15px;
  justify-self: center;
}

.nome-planta {
  margin: 0px 2px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #707070;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical
}

.lista-plantas {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  box-sizing: border-box;
  flex: 1;
  padding-top: 50px;
}


.detalhes-image {
  width: 520px;
  margin-top: 100px;
}

.detalhes-plantas {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  background-color: rgb(236, 235, 235);
}

.detalhes-plantas h2{
  color: #FFD621;;
  background-color: black;
  text-align: start;
  padding: 10px 100px;
}

.detalhes-plantas p{
  text-align: justify;
  padding: 10px 100px;
}

.calendario {
  width: 300px;
  height: 100px;
  top: 50%;
  left: 40%;
  position: absolute;
  text-align: center;
} 

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color:#834c4c;
  color: white;
  text-align: center;
  position: absolute;
}

.icones {
  display: flex;
  justify-content: center;
  list-style: none;
}

.icones :hover {
  color: #B96E6E;
}

.jardim-esquerda {
  width: 606px;
  height: 620px;
}

.jardim-parte1E h1 {
  color: #43AD74;
  text-align: center;
  font-size: 30px;
  letter-spacing: 10%;
  font-weight: bold;
  line-height: 12px;
  width: 500px;
  padding: 10px 0px 0px 70px;
}

.jardim-parte1E h2 {
  color: #43AD74;
  text-align: center;
  font-size: 25px;
  letter-spacing: 10%;
  line-height: 12px;
  width: 500px;
  padding: 10px 0px 0px 70px;
}

.jardim-parte2E {
  color: black;
  padding: 10px 0px 0px 70px;
  width: 500px;
  height: 84px;
}

.jardim-direita {
  width:700px;
  height:600px;
  background-color: #b96e6e;
  opacity: 0.5; 
}

.parte-meio {
  width:100px;
  height:100px;
  background-color: #b96e6e;
  opacity: 0.4;
  padding: 500px;
}