@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  margin: 0px;
  background-color: #EAEAEA;
  font-family: 'Roboto';
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #B96E6E;
  display: flex;
}

.detalhes-usuario {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.barra-navegacao {
  display: flex;
  justify-content: space-between;
}

.menu{
  display: flex;
  list-style: none;
  align-items: center;
  padding: 20px 700px;
}

.item {
  margin-right: 5em;
}

.item a {
color: #EAEAEA;
text-decoration: none;
}

.item a:hover{
  color:#7a4242;
  text-decoration: none;
  }

.item a:focus{
  color:#7a4242;
}

.usuario {
  position: absolute;
  width: 120px;
  height: 30px;
  right: 0px;
  top: 9px;
  background: url(assets/user.png);
  background-repeat: no-repeat;
  background-position: 60px;
  display: flex;
  align-items: center;
  color: aliceblue;
}

.pagina-inicial{
  color: #FFD621;
  text-align: center;
  padding: 5px 20px;
}

.planta {
  width: 240px;
  box-sizing: border-box;
  height: 400px;
  margin: 20px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 18px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.planta img {
  width: 120px;
  height: 120px;
  padding: 15px;
  justify-self: center;
}

.nome-planta {
  margin: 0px 2px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #707070;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical
}

.lista-plantas {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  box-sizing: border-box;
  flex: 1;
}


.detalhes-image {
  width: 520px;
  margin-top: 100px;
}

.detalhes-plantas {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  background-color: rgb(236, 235, 235);
}

.detalhes-plantas h2{
  color: #FFD621;;
  background-color: black;
  text-align: start;
  padding: 10px 100px;
}

.detalhes-plantas p{
  text-align: justify;
  padding: 10px 100px;
}

.calendario {
  width: 300px;
  height: 100px;
  top: 50%;
  left: 40%;
  position: absolute;
  text-align: center;
} 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#834c4c;
  color: white;
  text-align: center;
}

.icones {
  display: flex;
  justify-content: center;
  list-style: none;
}

.icones :hover {
  color: #B96E6E;
}